<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuwan.middle.demo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.yuwan.middle.demo.LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yuwan.middle.demo.MainActivity"/>
        <!-- 使用Demo时该值需替换为游戏的appid-->
        <meta-data
            android:name="YW_APPID"
            android:value="yuwan" />
        <!--渠道“占位”标签，供渠道打包工具替换实际的分发渠道号-->
        <meta-data
            android:name="YW_CHANNEL"
            android:value="yuwan" />
    </application>

</manifest>
